.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: #f1f5f8;
    padding: 0.8rem 1rem 0.8rem 1rem;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    font-family: "Architects Daughter", cursive;
}

/* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
    } */

.dropdown {
    position: relative;
    text-align: right;
}

.menu {
    display: none;
    position: absolute;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1;
    display: block;
    font-size: 1rem;
    color: #f1f5f8;
}

.signoutbtn {
    color: #f1f5f8;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.7rem 0 0.7rem 1.2rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-family: "Architects Daughter", cursive;
}

.dropdown a:hover {
    background-color: #ddd;
}

i {
    margin-left: 0.7rem;
}
